@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Grandstander&display=swap');

*{
    box-sizing: border-box;
    
}
body{
    font-family: 'Amatic SC', cursive;
    overflow-x: hidden;
    color: white;
    margin: 0;
    padding: 0;
    
}
.header-w{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(-45deg, #5e0878, #085078, #1fa194);
    background-size: 400% 400%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    animation: backgroudTransi 2s ease-in-out infinite;
    display: flex;
}
h1{
    text-transform: uppercase;
    letter-spacing: 4px;
}
h2{
    text-transform: uppercase;
    letter-spacing: 4px;
}

.social {
    display: flex;
    margin-top: 1rem;
    
}
.social a{
    text-decoration: none;
    color: white;
    padding: 1rem 4rem;
    border:1px solid white;
    min-width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    transition: .5s cubic-bezier(0.55,0.025, 0.0675, 0.97);
    
}
a:hover{
    color: #085078;
    background-color: white;
}

@keyframes backgroudTransi{
    0%{
     background-position:  0% 80%;
 
    } 
    50%{
     background-position:  80% 100%;
    }
    100%{
     background-position:  0% 90%;
 
    }
 }

 /*Hamburguer*/
 .checkbox-container{
    display: flex;
    justify-content: center;
    align-items: center;

 }
 .checkbox{
    width:  100px;
    height: 100px;
    display: flex;
    justify-content: center;
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    z-index: 9999;
    transition: 400ms ease-in-out;
    
    
 }
 .checkbox .trace{
    width: 50px;
    height: 2px;
    background-color: white;
    position: absolute;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}
.checkbox .trace:nth-child(1){
    transform: rotate(0);
    top:20px;
}
.checkbox .trace:nth-child(2){
    transform: rotate(0);
    top:40px;
}
.checkbox .trace:nth-child(3){
    transform: rotate(0);
    top:60px;
}
#toogle{
    display: none;
}
/*Menu*/
.menu{
    position: absolute;
    top: 28px;
    right: 30px;
    background: transparent;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow:  0px 0px 0px 0px white;
    z-index: -1;
    transition: 400ms ease-in-out 0;
    
}
.menu-item{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 400ms ease-in-out 0;
}
.menu-item ul{
    list-style-type: none;
}
.menu-item ul li a{
    margin: 10px 0;
    color: #5e0878;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 40px;
}

/*Animação menu*/

#toogle:checked + .checkbox .trace:nth-child(1){
    transform: rotate(45deg);
    background-color: #5e0878;
    top: 47px;
}
#toogle:checked + .checkbox .trace:nth-child(2){
    transform: translateX(-100px);
    width: 30px;
    visibility: hidden;
    opacity: 0;
    background-color: #5e0878;

}
#toogle:checked + .checkbox .trace:nth-child(3){
    transform: rotate(-45deg);
    top: 48px;
    background-color: #5e0878;

}

#toogle:checked + .checkbox{
    background-color: white;

}
#toogle:checked ~ .menu{
    box-shadow:  0px 0px 0px 100vmax white;
    z-index: 1;
    transition: .3s ease-in-out 0;

}

#toogle:checked ~ .menu-item{
   visibility: visible ;
   opacity: 1;
}

/*Cards*/

.container{
    width: 100%;
    height:  auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 0;
}
.card-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;

}
.card{
    width: 400px;
    height: 300px;
    margin: 3rem 0 0;
    background-image: url('horizon-sky-night-star-dawn-atmosphere-14958-pxhere.com.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: grayscale(0.5);
    color: white;
    cursor: pointer;
    transition: 0.3s;
    color: white;
    transition: 0.3s;
}
.card-text{
    width: 40%;
    font-family: sans-serif;
    letter-spacing: 1px;
    color: rgb(86, 86, 86);
}
.card-w::before{
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    display: block;
    border: 1px solid white;
    opacity: 0;
    transition: 0.3s;
}
.card-w h2{
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    transition: 0.3s;
}
.card-w p{
    font-size: 0px;
    visibility: hidden;
    opacity: 0;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;
}
.card:hover{
    filter: unset;
}
.card:hover > .card-w::before{
    height: 100px;
    width: 100px;
    opacity: 1;
}
.card:hover > .card-w p{
    opacity: 1;
    visibility: visible;
    font-size: 14px;
}

.footer{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5e0878;
}

/*Resposividade*/

@media(max-width: 800px){
    .social{
        display: flex;
        flex-direction: column;
    }
    .container{
        margin-top: 0;
    }
    .card-container{
        flex-direction: column;
    }
    .container .card-container:nth-child(1),
    .container .card-container:nth-child(3){
        flex-direction: column-reverse;
    }
    .card{
        height: 250px;
        width: 250px;
    }
    .card-text{
        width: 250px;
        margin-top: 2rem;
        text-align: center;
    }
    .card:hover > .card-w::before{
        height: 190px;
        width: 190px;
    }
}